Repository greedy-team/mokkoji-fe-next, pull requests merged in 2025-07, with the labels that each got.

#8 feat: recruit 페이지 관련 ui제작 및 api 연동 완료
  package.json
  pnpm-lock.yaml
  src/app/(main)/club/page.tsx
  src/app/(main)/page.tsx
  src/app/(main)/recruit/layout.tsx
  src/app/(main)/recruit/page.tsx
  src/auth.ts
  src/entities/.gitkeep
  src/entities/recruit/lib/getDateUtil.ts
  src/entities/recruit/ui/favorite-button.tsx
  src/entities/recruit/ui/nav-section.tsx
  src/entities/recruit/ui/period-section.tsx
  src/entities/recruit/ui/recruit-header.tsx
  src/entities/recruit/ui/recruit-item.tsx
  src/shared/api/server-api.ts
  src/shared/model/type.ts
  src/shared/ui/Header.tsx
  src/shared/ui/avatar.tsx
  src/shared/ui/nav-button.stories.tsx
  src/shared/ui/nav-button.tsx
  src/shared/ui/radius-tag.tsx
  src/views/.gitkeep
  src/views/recruit/recruit-page.tsx
  src/widgets/recruit/api/getRecruitList.ts
  src/widgets/recruit/model/type.ts
  src/widgets/recruit/ui/recruit-item-list.tsx
Labels: ♻️ refactor, ✨ feature

#16 feat: amplitude 세팅
  package.json
  pnpm-lock.yaml
  src/_providers/amplitude-provider.tsx
  src/app/layout.tsx
  src/shared/lib/amplitude.ts
Labels: ✨ feature

#34 refactor: 홈 키워드 검색 Link 방식으로 변경
  src/entities/home/ui/home-keyword-list.tsx
  src/features/home/ui/home-keyword.tsx
Labels: ♻️ refactor

#36 feat: footer 추가
  src/app/(main)/layout.tsx
  src/shared/ui/Footer.tsx
Labels: ✨ feature

#29 feat: 상세 페이지 댓글 기능 추가
  public/detail/favoriteIcon.svg
  public/detail/instaIcon.svg
  public/detail/profileIcon.svg
  src/app/(main)/club/[id]/page.tsx
  src/app/(main)/recruit/[id]/layout.tsx
  src/app/(main)/recruit/[id]/page.tsx
  src/entities/home/ui/scroll-item.tsx
  src/entities/recruit-detail/ui/recruit-detail-comment.tsx
  src/entities/recruit-detail/ui/recruit-detail-header.tsx
  src/entities/recruit-detail/util/convetLinkText.ts
  src/entities/recruit-detail/util/timeAgo.ts
  src/features/club/ui/club-detail-header-control.tsx
  src/features/recruit-detail/api/postComment.ts
  src/features/recruit-detail/api/postFavoriteClub.ts
  src/features/recruit-detail/ui/club-detail-header-control.tsx
  src/features/recruit-detail/ui/rating-component.tsx
  src/features/recruit-detail/ui/recruit-detail-comment-input.tsx
  src/shared/ui/Header.tsx
  src/shared/ui/textarea.tsx
  src/views/club/model/type.ts
  src/views/club/ui/club-detail-page.tsx
  src/views/club/ui/recruit-detail-page.tsx
  src/widgets/recruit-detail/api/getClubDetailComments.ts
  src/widgets/recruit-detail/model/type.ts
  src/widgets/recruit-detail/ui/recruit-detail-comment-widget.tsx
Labels: ✨ feature
