Repository greedy-team/mokkoji-fe-next, pull requests merged in 2025-08, with the labels that each got.

#50 refactor: header 검색 버그 수정 및 일부 코드 리팩토링
  src/features/header/ui/header-login.tsx
  src/features/header/ui/header-search.tsx
  src/shared/ui/Header.tsx
  src/shared/ui/nav-button.tsx
Labels: ♻️ refactor, 🐞 bug

#48 feat: 랜딩 페이지 구현
  package.json
  pnpm-lock.yaml
  public/main/category.png
  public/main/comment.svg
  public/main/downArrow.svg
  public/main/help.svg
  public/main/격투기선수.svg
  public/main/불면증염소.svg
  public/main/졸린사자.svg
  src/app/globals.css
  src/entities/home/ui/category-card.tsx
  src/entities/home/ui/category-text-card.tsx
  src/entities/home/ui/club-text-card.tsx
  src/entities/home/ui/comment-card.tsx
  src/entities/home/ui/comment-text-card.tsx
  src/entities/home/ui/help-card.tsx
  src/entities/home/ui/help-text-card.tsx
  src/entities/home/ui/home-header.tsx
  src/entities/home/ui/recruit-text-card.tsx
  src/features/home/ui/club-card.tsx
  src/features/home/ui/home-search.tsx
  src/features/home/ui/navigate-clublist.tsx
  src/features/home/ui/page-down-button.tsx
  src/features/home/ui/recruit-vertical-carousel.tsx
  src/features/home/util/animate-viewport.tsx
  src/features/home/util/isRecruiting.ts
  src/shared/ui/avatar.tsx
  src/shared/ui/fade-edge.tsx
  src/shared/ui/nav-Item.tsx
  src/shared/ui/nav-button.tsx
  src/views/home/home-page.tsx
  src/widgets/home/ui/club-card-widget.tsx
  src/widgets/home/ui/feature-intoduce-widget.tsx
  src/widgets/home/ui/help-card-widget.tsx
Labels: ✨ feature

#84 fix: 모집 공고 등록 요청 버그 수정
  src/features/post-recruitment/ui/post-recruitment-form.tsx
  src/shared/ui/nav-section.tsx
Labels: 🐞 bug, 🛠️ fix

#126 feat: 모집 공고 수정 페이지 제작 및 상세 페이지 개선
  src/app/(main)/recruit/[id]/layout.tsx
  src/entities/club/ui/club-item.tsx
  src/entities/recruit-detail/ui/recruit-detail-header.tsx
  src/entities/recruit-detail/ui/recruit-detail-view.tsx
  src/entities/recruit/lib/getDateUtil.ts
  src/entities/recruit/ui/recruit-item.tsx
  src/features/club-detail/api/patchRecruitment.ts
  src/features/club-detail/ui/club-detail-comment-input.tsx
  src/features/club-detail/ui/club-detail-header-control.tsx
  src/features/club-detail/ui/club-detail-recruitment-edit.tsx
  src/features/login/ui/login-form.tsx
  src/features/post-recruitment/model/reducer/recruitmentFormReducer.ts
  src/features/post-recruitment/model/type.ts
  src/features/post-recruitment/ui/post-recruitment-form.tsx
  src/features/post-recruitment/util/isFormVaild.ts
  src/shared/ui/avatar.tsx
  src/shared/ui/radius-tag.tsx
  src/views/club/ui/club-detail-page.tsx
  src/views/recruit/api/getRecruitDetail.ts
  src/views/recruit/model/type.ts
  src/views/recruit/ui/recruit-detail-page.tsx
  src/widgets/recruit-detail/api/deleteRecruitment.ts
  src/widgets/recruit-detail/ui/recruit-detail-widget.tsx
  src/widgets/recruit/model/type.ts
  src/widgets/recruit/ui/recruit-item-list.tsx
Labels: ♻️ refactor, ✨ feature

#130 Fix: 로그인 문구 수정 및 홈 버튼 카테고리 수정
  src/entities/home/ui/home-keyword-list.tsx
  src/entities/login/ui/login-header.tsx
  src/shared/model/type.ts
  src/shared/ui/category-nav-button.tsx
  src/stories/molecules/club-search-item.stories.tsx
  src/widgets/recruit/api/getClubList.ts
  src/widgets/search/api/searchClubs.ts
  src/widgets/search/ui/search-results.tsx
Labels: 🛠️ fix

#133 Fix: 메인 배너 카테고리 링크 수정
  public/support/ghost.gif
  public/support/ghost.svg
  src/app/(main)/search/page.tsx
  src/entities/home/ui/home-keyword-list.tsx
  src/entities/login/ui/login-header.tsx
  src/features/support/ui/search.tsx
  src/middleware.ts
  src/views/search/ui/search-page.tsx
  src/widgets/search/ui/search-results.tsx
Labels: 🛠️ fix

#132 feat: 모집 공고 사진 등록 및 수정/삭제 버그 수정&모집 카드 리팩토링
  pnpm-lock.yaml
  public/altClubIcon.png
  public/altClubIcon.svg
  public/main/arrow.svg
  src/app/globals.css
  src/entities/club/ui/club-detail-header.tsx
  src/entities/club/ui/club-item.tsx
  src/entities/login/ui/login-header.tsx
  src/entities/recruit-detail/ui/recruit-detail-header.tsx
  src/entities/recruit-detail/ui/recruit-detail-view.tsx
  src/entities/recruit/ui/period-section.tsx
  src/entities/search/club-search-item.tsx
  src/features/club-detail/ui/club-detail-recruitment-edit.tsx
  src/features/header/ui/header-login.tsx
  src/features/home/ui/navigate-clublist.tsx
  src/features/home/ui/recruit-vertical-carousel.tsx
  src/features/post-recruitment/model/type.ts
  src/features/post-recruitment/ui/post-recruitment-form.tsx
  src/shared/ui/avatar.tsx
  src/shared/ui/button.tsx
  src/shared/ui/nav-button.tsx
  src/shared/ui/radius-tag.tsx
  src/shared/ui/section-header.tsx
  src/views/club/ui/club-detail-page.tsx
  src/views/recruit/ui/recruit-detail-page.tsx
  src/widgets/recruit/ui/recruit-item-list.tsx
  src/widgets/search/ui/search-results.tsx
Labels: ♻️ refactor, 🛠️ fix

#146 refactor: FAQ 문구 변경 및 이미지 명칭 방식 변경
  src/features/club-detail/ui/club-detail-recruitment-edit.tsx
  src/features/club-register/ui/club-edit-form.tsx
  src/features/post-recruitment/ui/post-recruitment-form.tsx
  src/shared/ui/Footer.tsx
  src/views/recruit/ui/recruit-detail-page.tsx
  src/widgets/recruit-detail/ui/recruit-detail-widget.tsx
  src/widgets/support/faq-list.tsx
Labels: ♻️ refactor
