Repository greedy-team/mokkoji-fe-next, pull requests merged in 2025-09, with the labels that each got.

#227 feat: cicd deploy.yml 추가
  .github/workflows/deploy.yml
Labels: ✨ feature

#229 Develop
  public/sitemap.xml
  src/app/sitemap.ts
  src/middleware.ts
Labels: 📦 size/s

#281 feat: 로깅 시스템 개선 및 api 중복 호출 개선
  next.config.ts
  package.json
  pnpm-lock.yaml
  route.ts
  src/app/(main)/layout.tsx
  src/entities/my/api/getMyInfo.tsx
  src/entities/my/api/putEmail.tsx
  src/features/club-detail/api/patchRecruitment.ts
  src/features/club-detail/api/postComment.ts
  src/features/club-register/api/postClubRegister.ts
  src/features/club-register/model/type.ts
  src/features/login/ui/login-form.tsx
  src/features/post-recruitment/api/postRecruitmentForm.ts
  src/features/post-recruitment/ui/select-date.tsx
  src/instrumentation.ts
  src/middleware.ts
  src/shared/api/auth-api.ts
  src/shared/api/delete-favorite.ts
  src/shared/api/manage-api.ts
  src/shared/api/post-favorite.ts
  src/shared/lib/edge.logger.ts
  src/shared/lib/logger.ts
  src/shared/lib/nextLogger.ts
  src/shared/lib/node.logger.ts
  src/shared/ui/Footer.tsx
  src/views/club/api/getClubDetail.ts
  src/views/recruit/api/getRecruitDetail.ts
  src/widgets/club-detail/api/getClubDetailComments.ts
  src/widgets/favorite/api/getFavoriteByDate.ts
  src/widgets/favorite/api/getFavoriteList.ts
  src/widgets/recruit-detail/api/deleteRecruitment.ts
  src/widgets/recruit/api/getClubList.ts
  src/widgets/recruit/api/getClubRecruitList.ts
Labels: ✨ feature, config, 📦 size/l
